.form-newgoal {
  @extend %flex-column;
  width: 100%;

  .form-newgoal-input {
    @extend %form-field;
    width: 80%;
  }

  button {
    @extend %form-field;
    width: 80%;
    height: 50px;
    cursor: pointer;
    transition: all 800ms ease;

    &:hover {
      background: adjust-hue($secondary-color, 95);
    }
  }
}
