.show-goals {
  width: 100%;

  .goal-content {
    @extend %flex-row;
    margin: auto 10%;
    justify-content: space-between;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 20px;
    }

    .linethrough-true {
      text-decoration: line-through;
    }

    .hide {
      display: none;
    }
  }

  .buttons-container {
    .icon-trash,
    .icon-check,
    .icon-check-undo {
      font-size: 25px;
    }
    @extend %flex-row;
  }
}
